.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;
    }

    &:active{
        transform: scale(0.95);
    }

    @media (max-width: 768px) {
        width: 100%;
        display: flex;
    }
}